#yo{
    position: relative;
    width: 15%;
}

#cabecera{
    background-image: url("../images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#nombre{
    position: relative;
    width: 50%;
    left: 25%;
}
img{
    height: 30px;
    padding-right: 15px;
}

#datosPersonales{
    position: relative;
    width: 20%;
}

table{
    margin-left: 10px;
}

.puntuaciones{
    display: flex;
    margin-left: 5px;
}
.pintado{
    margin: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    justify-content: center;
    border: 1px solid black;
}

.no_pintado{
    margin: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
}
