body
{
    background-image: url("https://i.pinimg.com/originals/86/7f/fb/867ffb8a5b7329a014071b74c5d3b0bf.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    color: white;
}

img
{
    margin-right: 0.5em;
}

